body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: Arial;
}

.container {
    max-width: 600px;
    padding: 20px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ededed;
}

button {
    padding: 8px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: solid black;
}
